/* Global Layout Set-up */

/* Section Styles
http://www.colourlovers.com/palette/148712/Gamebookers
    orange FF9900
    black 424242
    light grey E9E9E9
    dark grey BCBCBC
    blue 3299BB
*/
/* notes: http://placeimg.com/ */


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
  color: #424242;
  background: #eee;
}

a {
  text-decoration: none;
  color: #0499ff;
}

a:hover {
  color: #6633ff;
}

.main-nav {
  width: 100%;
  min-height: 20px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px;
  position: relative;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 1000;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  display: none;
}

.nav li {
  padding: 10px;
}

.nav a{
  transition: all .5s;
}

.nav a:hover {
  color: white
}

.description {
  width: 600px;
  margin: auto;
}


header {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  background: url('images/portland.jpg') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}

header {
  line-height: 1.5;
}

header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}

header .profile-image:hover {
  transform: scale(1.2);
}

.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}
.location {
  background-color: #222;
  color: white;
}

form {
  width: 27%;
  margin: auto;
}

.form-group {
  text-align: left;
  height: 30px;
}

.form-control {
  float: right;
  height: 30px;
  width: 220px;
}

@media (max-width: 400px) {
  form {
    width: 80%
  }
}

.form-complete {
  padding: 10px;
  margin: auto;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
}

a.social {
  display: auto;
  text-indent: 9px;
  margin: auto;
  width: 30px;
  height: 30px;
  padding: 10px;
  opacity: .5;
  transition: all .25s;
}

a.twitter {
  background-image: url(images/twitter.svg);
}

a.linkedin {
  background-image: url(images/linkedin.svg);
}

a.github {
  background-image: url(images/github.svg);
}

a.social:hover {
  opacity: 1;
}


h1 {
  align-self: center;
}
