body {
    font-family: "Open Sans"
}

.main-image {
    border: solid 2px #222;
    border-radius: 50%
}

h1 {
    background-color: #e2e2e2;
    padding: 5px
}

.section-title {
    text-transform: uppercase
}
